body{
    border: 4px ;
margin:  3px;
}

.Cabeza{
    
    height: 150px;
    width: 100%;
    border-bottom: 2px;
}


.nombre{
    float: left;
    padding: 15px;
    align-content: center;
    
}
.slogan{
    
    float: right;
    padding: 30px;
    text-align: center;
    font-family: garamond;
    font-size: 35px;
}

.cuerpo{

    margin: 5px;
}
.P1{
    background-color:  #9DD9D2;
    width: 100%;
    height: 200px;
    margin: 10px;
    
   

}
.D1{

float: left;
font-size: 25px;
}
.I1{
float: right;
padding-right: 100px;

}
.P2{
    width: 100%;
    height: 200px;
    margin: 10px;   
   
}

    .I2{
    float: left;
    padding-right: 100px;}
    .D2{

        float: right;
        font-size: 25px;
        }
        .P3{
        
            margin: 10px;
            background-color:  #9DD9D2;
            width: 100%;
            height: 200px;
            
            
           
        
        }
        .D3{
        
        float: left;
        font-size: 25px;
        }
        .I3{
        float: right;
        padding-right: 100px;
        
        }
        .P4{
            width: 100%;
            height: 200px;
            margin: 10px;   
           
        }
        
            .I4{
            float: left;
            padding-right: 100px;}
            .D4{
        
                float: right;
                font-size: 25px;
                
                }
 
                